---
const { links } = Astro.props;
---

{Array.isArray(links) && links.length > 0 && (
  <section class="links-list">
    <h2>Redes sociales</h2>
    <ul>
      {links.map(link => (
        <li>
          <a href={link.url} target="_blank" rel="noopener noreferrer">
            {link.platform}
          </a>
        </li>
      ))}
    </ul>
  </section>
)}
