---
const { products } = Astro.props;
---

{Array.isArray(products) && products.length > 0 && (
  <section class="products-grid">
    <h2>Productos</h2>
    <ul>
      {products.map(product => (
        <li class="product-item">
          <a href={product.link} target="_blank" rel="noopener noreferrer">
            {product.link}
          </a>
          <div class="product-images">
            {product.images.map(image => (
              <img src={image.formats.small} alt="Producto" loading="lazy" />
            ))}
          </div>
        </li>
      ))}
    </ul>
  </section>
)}
